.fullscreen-lottie {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fullscreen-lottie dotlottie-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  /* color: #6e6253; */
  color: black;
  font-size: 3rem;
  /* background: #dbc6a9 (0, 0, 0, 0.6); */
  /* background: rgba(219, 198, 169, 0.6); */
  border-radius: 60px;
  padding: 2rem;
}

.hero-text p {
  font-size: 2rem;
}

@media (max-width: 480px) {
  dotlottie-player {
    width: 100%;
  }

  .hero-text {
    font-size: 1rem;
    margin-top: 5rem;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 0.9rem;
  }
}
